.DS_Store
node_modules
/dist
/client/dist
/client/node_modules
/client/.DS_Store
/server/dist
/server/node_modules
/server/.DS_Store


# local env files
.env.local
/client/.env.local
/server/.env.local
/server/.env
.env.*.local
/client/.env.*.local
/server/.env.*.local

# Log files
npm-debug.log*
/client/npm-debug.log*
/server/npm-debug.log*
yarn-debug.log*
/client/yarn-debug.log*
/server/yarn-debug.log*
yarn-error.log*
/client/yarn-error.log*
/server/yarn-error.log*
pnpm-debug.log*
/client/pnpm-debug.log*
/server/pnpm-debug.log*

# Editor directories and files
.idea
/client/.idea
/server/.idea
.vscode
/client/.vscode
/server/.vscode
*.suo
/client/*.suo
/server/*.suo
*.ntvs*
/client/*.ntvs*
/server/*.ntvs*
*.njsproj
/client/*.njsproj
/server/*.njsproj
*.sln
/client/*.sln
/server/*.sln
*.sw?
/client/*.sw?
/server/*.sw?
