.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}

.login-img {
  text-align-last: center;
}

.logo {
  object-fit: cover;
  width: 300px;
  height: 200px;
}

.vue-grid-item:not(.vue-grid-placeholder) {
  background: #ccc;
  border: 1px solid black;
}

.custom-menu div {
  display: grid;
}

.vue-grid-item .text {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 100%;
  width: 100%;
  align-items: center;
}

.grid-text {
  font-size: .8rem;
}